<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/FLKAutomationV2/src/com/fiberlink/test/automation/ios/policies_ios_platform/testscripts/ADbasedPIN_Regression.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.fiberlink.test.automation.ios.policies_ios_platform.testscripts.ADbasedPIN_Regression"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="FLKAutomationV2"/>
</launchConfiguration>
